<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CaminhoArquivos" value="E:\Arquivos" />
    <add key="TempoEsperaSegundos" value="10" />
    <add key="NrProcessosParalelos" value="4" />
    <add key="NrRegistrosProcessar" value="2" />
  </appSettings>
</configuration>